@import "tailwindcss";
/* https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1154#issuecomment-2628101875 */
body {
  @apply bg-black text-white flex flex-col h-full min-h-screen;
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}

h2 {
  display: inline;
  opacity: 0.6;
}

a {
  opacity: 0.6;
  transition-property: opacity;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

a:hover {
  opacity: 0.8;
}
